* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.passwordContainer {
  background: lightpink;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.alertContainer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: lightgreen;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: 0.5s;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.inputContainer input {
  border: none;
  background: none;
  font-size: 24px;
  outline: none;
}

.inputContainer i {
  cursor: pointer;
  opacity: 0.3;
}

.inputContainer i:hover {
  opacity: 1;
}

.passwordButton {
    padding: 10px 30px;
    font-size: 24px;
    border: none;
    background-color: green;
    margin: 10px 0px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.passwordButton:hover{
    background-color: red;
}

.active{
    right: -300px;
}